{{>head}}
<body>
 {{!-- <h1>{{title}}</h1> --}}
    <div class="container">
        {{!-- NAVBAR--}}
        {{>navbar}}
        
{{!-- BODY --}}
    {{{body}}}

    </div>

    {{>footer}}
</body>
</html>